aside {
  grid-area: aside;
  height: 100%;
  width: 200px;
  background: #354052;
  color: #7c8799;
}

aside hr {
  height: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #495263;
  background-color: #303847;
  color: #303847;

}

aside figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 0;
}

.img-profile {
  border-radius: 50%;
  height: 100px;
  margin-bottom: 8%;
  width: 100px;
  background: url(../images/MichaelScott.png);
  background-size: cover;
}

.username-and-dropdown {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.username-and-dropdown p {
  margin: 0;
}

aside ul {
  margin: 12% 0;
  padding: 0;
  color: #616d84;
  text-align: left;
}

aside ul span {
  margin: 0 12%;
}

aside li {
  align-items: center;
  border-left: 3px solid #354052;
  display: flex;  
  list-style: none;
  margin: 0;
  padding: 10% 0 10% 12%;
  color: #7c8799;
  font-weight: bold;
}

aside li:hover, 
aside .active {
  border-left: 3px solid #47a4f3;
  background: #2C3340;
  color: white;
  cursor: pointer;
}

aside li img {
  height: 15px;
  margin-right: 15px;
  width: 15px;
}

input[type='checkbox'] {
  margin-right: 12%;
}

aside label {
  width: 100%;
}

aside label:hover {
  cursor: pointer;
}

.dropdown {
  height: 10px;
  width: 10px;
  background: url(../images/arrow-down-gray.svg);
  background-size: cover;
}

.username-and-dropdown:hover {
  color: #FFF;
  cursor: pointer;
}

.username-and-dropdown:hover .dropdown {
  background: url(../images/arrow-down-white.svg);
  background-size: cover;
}