.graphs {
  margin-top: 5%;
}

.bar-and-circle-graphs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.stat-name {
  font-size: 0.2rem;
  font-weight: bold;
  fill: #939393;
}

.circle-graphs button,
.bar-graph button {
  border: 1px solid #c4ccd2;
  border-radius: 25px;
  height: 15%;
  padding: 0;
  width: 25%;
  background: #FFF;
  color: #717d93;
  font-size: 0.7rem;
}

#totals {
  align-self: center;
  margin-top: 10%;
  width: 35%;
}

#applicants-per-day {
  margin-top: 5%;
  padding: 1%;
  width: 35%;
}

#totals:hover,
#applicants-per-day:hover {
  background: #dbe4ea;
}

.circle-graphs {
  display: flex;
  flex-direction: column;
  width: 55%;
  background: #edf2f6;
}

.bar-graph {
  align-items: center;  
  display: flex;
  flex-direction: column;
  width: 45%;
  background: #edf2f6;
}

.bar-graph img {
  width: 80%;
}

/* slide-up button styles*/
.slide-up {
  display: flex;
  width: 100%;
}

.slide-up hr {
  align-items: center;
  display: flex;
  margin: 1.5% 0;
  width: 42%;
}

#slide-up-left {
  margin-left: 5%;
}

#slide-up-right {
  justify-self: flex-start;
}

.graphs-slideup {
  align-items: flex-start;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 0 5% 0;
  width: 50px;
}

.graphs-slideup-button {
  border-radius: 50%;
  height: 30px;
  padding: 0;
  width: 30px;
  background: #FFF;
}

.graphs-slideup-button:hover {
  background: #dbe4ea;
}

.graphs-slideup-button img {
  height: 10px;
  width: 10px
}

/* circle graph styles taken from Medium article "How to code a responsive circular percentage chart with SVG and CSS." */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #dae3ea;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #67b8bf;
}

.circular-chart.green .circle {
  stroke: #47a4f3;
}

.circular-chart.blue .circle {
  stroke: #a46eab;
}

.stat {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}