header {
  grid-area: header;
}

.search-bar {
  width: 100%;
  background: #FFF;
  display: flex;
}

.search-input {
  display: inline-block;
  width: 77%;
  border-right: 1px solid #c4ccd2;
  border-bottom: 2px solid #c4ccd2;
  border-left: 1px solid #c4ccd2;
  align-items: center;
  display: flex;
}

.magnifier {
  height: 20px;
  width: 20px;
  margin: 0 1%;
}

.search-input-field {
  width: 97%;
  height: 100%;
  border: none;
  padding: 2% 0;
  font-size: 1.5rem;
}

.search-input-field::placeholder {
  color: #9da4af; 
  font-size: 1rem;
}

.header-button {
  background: #FFF;
  border-right: 1px solid #c4ccd2;
  border-bottom: 2px solid #c4ccd2;
  border-left: 1px solid #c4ccd2;
  height: 70px;
  width: 70px;
}

.header-button:hover,
.search-bar #active {
  background: #47a4f3;
}

#aside-button {
  background: url(../images/menu-button.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#aside-button:hover {
  background: url(../images/menu-button-white.svg);
  background-color: #47a4f3;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#add-user-button {
  background: url(../images/add-user.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#add-user-button:hover, #add-user-button .active {
  background: url(../images/add-user-white.svg);
  background-color: #47a4f3;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#schedule-button {
  background: url(../images/add-event.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#schedule-button:hover {
  background: url(../images/add-event-white.svg);
  background-color: #47a4f3;  
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#layout-button {
  background: url(../images/grid-squares.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#layout-button:hover {
  background: url(../images/grid-squares-white.svg);
  background-color: #47a4f3;  
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-button img{
  height: 20px;
  width: 20px;
}

.job-posting {
  background: #FFF;
}

.job-posting h2 {
  width: 100%;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  font-size: 1.8rem;
  color: #939393;
}

.job-posting button {
  background: #FFF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0 8px;
  border: 2px solid #c4ccd2;
}

.job-posting button:hover {
  background: #dbe4ea;
}

.job-posting button img {
  height: 15px;
  width: 15px;
}

#open {
  border-radius: 25px;
  width: 80px;
  font-size: 0.8rem;
  color: #9ca3ae;
  padding: 4%;
  display: flex;
}

#green-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #99c354;
  display: inline-block;
  margin: 1% 6% 0 12%;
}

.job-posting-row {
  display: flex;
  margin: 5% 0 0 5%;
}

.job-posting-buttons {
  display: flex;
  margin-right: 5%;
  width: 350px;
  justify-content: space-around;
}

.location-and-preview {
  display: flex;
  align-items: flex-start;
  margin: 0 0 3% 5%;  
}

.job-posting-location {
  font-weight: normal;
  margin: 0;
  display: flex;
}

.job-posting-location img {
  height: 15px;
  width: 15px;
}

.preview {
  margin-left: 0.5%;
  color: #47a4f3;
  text-decoration: none; 
}

.job-links {
  display: flex;
  margin: 0;
  padding: 0 5%;
}

.job-posting-link {
  padding: 3% 0;
  border-bottom: 3px solid #FFF;
  font-weight: bold;
  color: #939393;
  font-size: 0.8rem;
  margin-right: 6%;
}

.job-posting-link:hover, .job-links .active {
  border-bottom: 3px solid #47a4f3;
  color: black;
  cursor: pointer;
}