main {
  background: #edf2f6;
  grid-area: main;
}

.job-info {
  display: grid;

  padding: 0 2% 2% 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "job-description-block job-description-block social-buttons-and-inputs"
    "job-description-block job-description-block social-buttons-and-inputs"
    "job-description-block job-description-block social-buttons-and-inputs"
}

.job-description-block {
  grid-area: job-description-block;
  width: 100%;
  background: #FFF;
  margin: 0 3% 0 0;
}

.job-description-block dl {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.job-description-block dt {
  grid-column: 1 / 2;
  margin: 0;
  width: 100%;
  color: #7d8a9f;
  padding: 18% 0;
  border-bottom: 2px solid #c4ccd2;
  font-weight: bold;
}

.job-description-block dd {
  grid-column: 2 / 3;
  color: #7d8a9f;
  height: auto;
  margin: 0;
  padding: 9% 0;
  border-bottom: 2px solid #c4ccd2;
}

#approved-salary, #approved-salary-definition  {
  border: none;
}

.job-description {
  background: #717d93;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  border-radius: 2% 2% 0 0;
}

.job-description-title {
  color: #FFF;
  margin: 0 8% 0 5%;
}

.edit-button {
  background: #7e8ba4;
  color: #FFF;
  margin: 2%;
  padding: 0;
  width: 100px;
  height: 50px;
}

.edit-button:hover {
  background-color: #98A3B6;
}

.edit-button img {
  height: 15px;
  width: 15px;
  margin: 0 5% 0 0;
}

.social-buttons-and-inputs {
  grid-area: social-buttons-and-inputs;
  margin: 0 10%;
}

.social-button {
  height: 7%;
  width: 100%;
  margin: 5% 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button img {
  height: 20px;
  width: 20px;
  margin-right: 5%;
}

.facebook {
  margin-top: 0;
  background: #5070bb;
}

.facebook:hover {
  background: #738ECA
}

.twitter {
  background: #47a8e9;
}

.twitter:hover {
  background: #6CBBED
}

.linkedin {
  background: #337eb6;
}

.linkedin:hover {
  background: #5C99C6
}

.inputs-area img {
  height: 25px;
  width: 25px;
}

.inputs-area h3 {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
  color: #7b8392;
}

.inputs-area-title {
  display: flex;
  align-items: center;
}

.inputs-area p {
  color: #7b8392
}

.inputs-area hr {
  margin: 12% 0;
}

.link-to-this-job {
  margin-top: 10%;
}

.link-or-code-with-button {
  display: flex;
}

.copy-button {
  height: 40px;
  width: 50px;
  text-align: center;
  padding: 0;
  background: #67b8bf;
  border-radius: 0 5px 5px 0;
}

.link-to-copy,
.code-to-copy,
.tim-email {
  background: #FFF;
  height: 40px;
  width: 83%;
  display: flex;  
  overflow-x: scroll;
  white-space: nowrap;
  align-items: center;
  padding: 0 0 0 5%;
  border-radius: 5px;
}

.tim-email {
  width: 100%;
}

.link-to-copy span,
.code-to-copy span,
.tim-email span {
  width: 66%; 
}

.link-to-copy button,
.code-to-copy button {
  float: right; 
}